html {
  scroll-behavior: smooth;
}

.animate-me {
  animation-duration: 1.2s;
}
.delay-me {
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.content {
  color: #464f72;
  font-weight: 300;
  line-height: 1.625em;
}
.content strong {
  color: #4252b1;
  font-weight: 600;
}
.content ul {
  list-style: disc outside none;
}
.content p,
.content li {
  margin-bottom: 1em;
}

.hover-scale .hover-target {
  transform: scale(1);
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}
.hover-scale:hover .hover-target {
  transform: scale(1.2);
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}
.hover-scale:hover img.hover-target {
  opacity: 0.9;
  transform: scale3d(1.1, 1.1, 1);
}
