<div>
  <h3 class="text-blue text-3xl font-bold">
    <a name="contact-us">Contact us!</a>
  </h3>
  <div class="border border-green border-1 my-6 w-24"></div>

  <form id="contact-form" method="POST">
    <input type="text" name="name" aria-label="Name"
      class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
      placeholder="Name" required />
    <input type="email" name="from" aria-label="Email"
      class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
      placeholder="Email" required />
    <textarea name="message" aria-label="Message"
      class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
      rows="3" placeholder="Message"></textarea>
    <input type="text" name="ascuns" id="ascuns" class="hidden" />
    <div class="flex flex-row items-center">
      <button id="submit" type="submit" class="bg-green text-white text-base py-2 px-4 mr-4" style="min-width: 140px">Send message</button>
      <div id="success" class="hidden text-green text-sm">Success! Your message has been sent</div>
      <div id="error" class="hidden text-blue text-sm">Error! Something went wrong while submitting the form. Please refresh the page and try again.</div>
    </div>
  </form>
</div>

<script type="text/javascript">
  window.addEventListener("load", function() {
    function sendData() {
      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const formData = new FormData(document.getElementById("contact-form"));
      const jsonData = JSON.stringify(Object.fromEntries(formData))

      XHR.addEventListener("loadstart", function(event) {
        document.getElementById("submit").disabled = "disabled"
        document.getElementById("submit").classList.add("opacity-50", "cursor-not-allowed")
      });
      XHR.addEventListener("load", function(event) {
        document.getElementById("success").classList.remove("hidden")
      });
      XHR.addEventListener("error", function(event) {
        document.getElementById("error").classList.remove("hidden")
      });

      // Check for honeypot
      if (document.getElementById("ascuns").value) {
        return false;
      }

      // Set up our request
      XHR.open("POST", "/.netlify/functions/contact-form");
      XHR.send(jsonData);
    }

    // Access the form element...
    let form = document.getElementById("contact-form");

    // ...and take over its submit event.
    form.addEventListener("submit", function(event) {
      event.preventDefault();

      sendData();
    });
  });
</script>
