<footer class="px-4 py-16" style="background: url(/images/background.jpg) center center / cover no-repeat;">
  <div class="flex items-center lg:mx-auto" style="max-width: 1200px;">
    <img src="/images/inspacare-logo-white.png" alt="Inspacare Logo" width="128" class="mr-2" />
    <h3 class="text-white font-display">
      <div>Inspacare | &copy; 2019 - present</div>
      <div>{{ .Site.Params.Description }}</div>
      <div class="mt-2 text-sm">
        Website designed by
        <a
          href="https://chesscoders.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >Chess Coders</a
        >
      </div>
    </h3>
  </div>
</footer>
