<footer class="px-6 py-12 lg:py-16" style="background: url(/images/background.jpg) center center / cover no-repeat;">
  <div class="flex items-center lg:mx-auto" style="max-width: 1200px;">
    <img src="/images/inspacare-logo-white.png" alt="Inspacare Logo" width="96" class="mr-2" />
    <h3 class="text-white text-sm font-display">
      <div>Inspacare | &copy; 2019 - present</div>
      <div class="hidden lg:block w-2/3">{{ .Site.Params.Description }}</div>
      <div>
        Website designed by
        <a
          href="https://chesscoders.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >Chess Coders</a
        >
      </div>
    </h3>
  </div>
</footer>
