<header class="w-full p-6 flex justify-between items-center z-50">
  <div class="w-full lg:mx-auto flex justify-between items-center" style="max-width: 1200px;">
    <a href="/" class="block lg:hidden flex items-center">
      <img src="/images/inspacare-logo-dark.png" alt="Inspacare Logo" width="64" title="&larr; Back to the homepage" />
    </a>
    <nav class="nav-menu inline-block lg:block lg:w-full">
      <label class="block">
        <input type="checkbox" id="menu" class="lg:hidden" aria-label="Menu open/close" />

        {{ partial "menu-list.html" . }}
      </label>
    </nav>
    <button
      class="lg:hidden text-green flex items-center rounded-full border-2 p-1"
      onclick="openMenu()" aria-label="Open menu" id="menubutton" style="outline: 0;"
    >
      <i class="fas fa-bars w-8 text-xl" id="menuicon"></i>
      Menu
    </button>
  </div>
</header>

<script type="text/javascript">
  function openMenu() {
    document.getElementById("menu").checked = !document.getElementById("menu").checked;
    document.addEventListener("click", outsideClickListener);
  }
  function closeMenu() {
    document.getElementById("menu").checked = false;
  }

  function outsideClickListener(event) {
    if (
      !["menubutton", "menulist", "menuicon", "menu"].includes(event.target.id) &&
      document.getElementById("menu").checked
    ) {
      removeClickListener();
      closeMenu();
    }
  }
  function removeClickListener() {
    document.removeEventListener("click", outsideClickListener);
  }
</script>
