<header class="w-full p-4 flex justify-between items-center z-50">
  <div class="w-full lg:mx-auto flex justify-between items-center" style="max-width: 1200px;">
    <nav class="nav-menu inline-block lg:block lg:w-full">
      <label class="block">
        <input type="checkbox" id="menu" class="lg:hidden" aria-label="Menu open/close" />

        {{ partial "menu-list.html" . }}
      </label>
    </nav>
    <button class="w-8 h-8 lg:hidden" onclick="openMenu()" aria-label="Open menu">
      <i class="fas fa-bars w-8 text-2xl" id="menubutton"></i>
    </button>
  </div>
</header>

<script type="text/javascript">
  function openMenu() {
    document.getElementById("menu").checked = !document.getElementById("menu").checked;
    document.addEventListener("click", outsideClickListener);
  }
  function closeMenu() {
    document.getElementById("menu").checked = false;
  }

  function outsideClickListener(event) {
    if (
      !["menubutton", "menulist", "menu"].includes(event.target.id) &&
      document.getElementById("menu").checked
    ) {
      removeClickListener();
      closeMenu();
    }
  }
  function removeClickListener() {
    document.removeEventListener("click", outsideClickListener);
  }
</script>
