{{ define "main" }}
<article
  class="p-4 text-center text-gray-700 text-white flex flex-col items-center justify-center"
  style="background: url(/images/background-homepage.jpg) center center / cover no-repeat;"
>
  <div class="fadeIn animate-me">
    {{ partial "glovesafe" (dict "context" . "color" "#fff") }}
  </div>

  {{ with .Site.GetPage "page" "home" }}
  <div class="fadeInRight animate-me delay-me">
    <h2 class="text-2xl lg:text-4xl text-white w-full font-light">{{ .Params.H1 }}</h2>
    <h2 class="text-2xl lg:text-4xl text-white w-full pt-8 lg:pt-0">{{ .Params.H2 }}</h2>
  </div>

  <div class="flex fadeInRight animate-me delay-me my-8 lg:my-12">
    {{ range.Params.Buttons }}
    <a href="{{.url}}" class="text-white text-sm lg:text-lg tracking-wide bg-green py-2 px-4 mx-4 border border-gray-300">
      <span>{{ .name }}</span>
    </a>
    {{ end }}
  </div>
  {{ end }}
</article>

<article class="bg-white">
  <div class="lg:mx-auto lg:flex" style="max-width: 1200px">
    {{ with .Site.GetPage "page" "the-facts" }}
    <div class="lg:w-1/2 py-6 lg:py-12 px-6 lg:px-0">
      <h3 class="text-blue text-3xl font-bold">{{ .Title }}</h3>
      <div class="border border-green border-1 my-6 w-24"></div>
      <div class="content">
        {{ .Content }}
      </div>
    </div>
    <div class="lg:w-1/2 border-dashed lg:p-4 border-green lg:border-l-2">
      <div class="hover-scale overflow-hidden" style="border: solid 1.5rem #fff">
        <img class="hover-target" src="{{ .Params.Image }}" />
      </div>
    </div>
    {{ end }}
  </div>
</article>

<article class="bg-gray-100 py-4">
  <div class="lg:px-0 lg:mx-auto lg:flex" style="max-width: 1200px">
    <div class="lg:w-1/2 py-6 lg:px-12 flex flex-col items-center">
      {{ with .Site.GetPage "page" "the-problem" }}
      <div class="bg-green text-white p-4 rounded-full w-16 h-16 flex items-center justify-center text-3xl">
        <i class="{{ .Params.Icon }}"></i>
      </div>
      <h3 class="text-blue text-3xl font-bold my-4">
        <a name="{{ .Params.Href }}">{{ .Title }}</a>
      </h3>

      <div class="hover-scale overflow-hidden" style="border: solid 1.5rem #fff">
        <img class="hover-target" src="{{ .Params.Image }}" />
      </div>

      <div class="content my-4 px-6 lg:px-0">
        {{ .Content }}
      </div>
      {{ end }}
    </div>

    <div class="lg:w-1/2 py-6 lg:px-12 flex flex-col items-center border-green lg:border-l-2 border-dashed">
      {{ with .Site.GetPage "page" "the-solution" }}
      <div class="bg-green text-white p-4 rounded-full w-16 h-16 flex items-center justify-center text-3xl">
        <i class="{{ .Params.Icon }}"></i>
      </div>
      <h3 class="text-blue text-3xl font-bold my-4">
        <a name="{{ .Params.Href }}">{{ .Title }}</a>
      </h3>

      <div class="hover-scale overflow-hidden" style="border: solid 1.5rem #fff">
        <img class="hover-target" src="{{ .Params.Image }}" />
      </div>

      <div class="content my-4 px-6 lg:px-0">
        {{ .Content }}
      </div>
      {{ end }}
    </div>
  </div>
</article>

<article>
  {{ partial "teaser.html" }}
</article>

<article class="bg-white">
  <div class="px-6 lg:px-0 lg:mx-auto lg:flex" style="max-width: 1200px">
    {{ with .Site.GetPage "page" "who-we-are" }}
    <div class="lg:w-1/2 py-6 lg:py-12">
      <h3 class="text-blue text-3xl font-bold">
        <a name="{{ .Params.Href }}">{{ .Title }}</a>
      </h3>
      <div class="border border-green border-1 my-6 w-24"></div>
      <div class="content">
        {{ .Content }}
      </div>
    </div>
    {{ end }}
    <div class="lg:w-1/2 border-dashed border-green lg:border-l-2">
      <div class="py-6 lg:py-12">
        <h3 class="text-blue text-3xl font-bold">Testimonials</h3>
        <div class="border border-green border-1 my-6 w-24"></div>
        {{ partial "testimonials.html" .Site.GetPage "page" "the-problem" }}
      </div>
    </div>
  </div>
</article>

{{ end }}
